@charset "UTF-8";
    *{box-sizing: border-box;}
            /*상단 끝부분 부터 채우기*/
            * {
                padding: 0px;
                margin: 0px;
            }

            /*상단 그라데이션 배경*/
            header {
                height: 190px;
                background: linear-gradient(to right, #6190E8, #A7BFE8);       
            }
  
            /*우측 상단 아이콘 리스트화*/
            .use {
                list-style-type: none;
                display: flex;
                flex-direction: row;
            }

            /*로고 조정*/
            .logo {
                width: 175px;
                height: auto; 
                position: relative;
                top: 36px;
                left: 44px;
            }
            
            /*아이콘+글자 3묶음 전체 위치 및 사이즈 조정*/
            .use li {
                position: relative;
                bottom: 92px;
                left: 1560px;
                margin-right: 28px;
                text-align: center;
                font-size: 13px;
                font-weight: bold;
                color:#3a3b3d;
            }
            
            /****동작 부분 없음 (혹시 몰라 남겨둠)****/
            .use p {
                position: relative;
                left: 10px;
                top: 10px;
                font-size: 10px;
                margin-right: 10px;
            }
            
            /*우측 상단 logout 부터 like까지 단일 조절  */
            .logout{
                width: 42px;
                height: auto;
                position: relative;
                top: 0px;
                left: 0px;
            }
            .user{
                width: 42px;
                height: auto;
                position: relative;
                top: 0px;
                left: 0px;
            }
            .like{
                width: 42px;
                height: auto;
                position: relative;
                top: 0px;
                left: 0px;
            }
 /*--------------------여기까지가 상단부-----------------------------------------------------*/


             /*좌측 카테고리 부분 구간 설정*/
             .left_category {
                /* background-color: aqua;*/
                 float: left;
                 width: 15%;
                 height: 900px;
             }

            /*좌측 '마이페이지' 이미지와 글씨 사이즈 및 위치 조절*/
            .mypage {
                position: relative;
                left: 20px;
                top: 30px;
                font-size: 33px;
                font-weight: bold;
                width: 137%;  
            }
            .mypage img {
                position: relative;
                left: 5px;
                top: 4px;
                width: 46px;
                height: auto;
            }

            /*좌측 카테고리 스타일*/
            .left_category ul {
                list-style-type: none;
                text-align: right;
                font-size: 21px;
                font-weight: bold;
                right: 50px;
                position: relative;
                top: 95px;
                display: flex;
                flex-direction: column;
                gap: 35px;
            }
            /*마이페이지 카테고리 세로 띠 구분 선*/
            .left_category hr {
                height: 96%;
                width: 0px;
                position: relative;
                bottom: 289px;
                left: 265px;
            }
/*--------------------여기까지가 좌측 카테고리 부분------------------------------------------------*/


            /*중앙 컨텐츠 구간 설정*/
            .main {
                float: left;
                width: 85%;
                height: 900px;
            }
            /*중앙 컨텐츠 부분 가로 띠 스타일*/
            .width_line {
                width: 96%;
                position: relative;
                left: 30px;
                top: 26px;
            }
/*--------------여기까지가 중앙 구간설정 부분------------------------------------------------------*/

            /*마이페이지의 최초 메인페이지 최근본 매물 중앙 컨텐츠*/
            .recent {
                position: relative;
                top: 42px;
                font-size: 25px;
                margin-left: 55px
            }
            .realestate {
                list-style-type: none;
                display: flex;
                flex-direction: row;
                position: relative;
                top: 100px;
            }
            .realestate li {
                position: relative;
                left: 100px;
                margin-right: 300px;
            }
 /*--------------------여기까지가 마이페이지의 메인 중앙 구간-------------------------------------------------*/

            /*내 정보 탭 내 정보 굵은 글씨*/
            .myinfo {
                position: relative;
                top: 42px;
                font-size: 25px;
                margin-left: 55px
            }

            /*내 정보 우측 주석*/
            .annotation {
                position: relative;
                left: 150px;
                top: 17px;
                color: #a1a1a1;
                font-weight: bold;
            }


    /*******************내 정보 아이디, 비밀번호 확인창***************/
            /*내정보 아이디,비번 확인창 부분 테두리 및 이미지 스타일 조정*/
            .infoidcheck_box {
                border: 2px solid #dddddd;
                border-radius: 10px;
                box-shadow: 5px 5px 17px rgba(0, 0, 0, 0.2);
                width: 1000px;
                height: 630px;
                position: relative;
                left: 210px;
                top: 65px;
            }
            .infoidcheck_box img {
                width: 10%;
                height: auto;
                position: relative;
                left: 45%;
                top: 24%;
            }

            /*내정보 아이디, 비밀번호 입력창 입력 및 수정 부분 조정*/
            .userid_info {
                text-align: center;
                position: relative;
                right: 3%;
                margin-top: 17%;
            }

            /*내정보 아이디, 비밀번호 확인창 라벨 정렬*/
            .userid_check label {
                font-size: 14px;
                font-weight: 600;
                text-align: right;
                color: #1b1b1b;
                display: inline-block;
                width: 65px;
            }

            /*내정보 아이디, 비밀번호 확인창 입력칸 스타일 조정*/
            .userid_check input {
                width: 250px;
                height: 28px;
                margin-top: 5px;
                border-color: #d6d6d6;
                border-radius: 2px;
                border-width: 1px;
            }
            /*내정보 아이디, 비밀번호 확인창 입력 안내문자 크기 조절*/
            .userid_check ::placeholder {
                font-size: 11px;
            }
            /*내정보 턉 입력창 입력 글씨 시작 위치 조정*/
            input[type="text"], input[type="password"], input[type="email"], input[type="address"] {
                padding-left: 8px;
            }

            /*내정보 아이디, 비밀번호 확인창 확인 버튼 스타일 조정*/
            .userid_check button {
                width: 110px;
                height: 38px;
                border-radius: 3px;
                border-width: 1px;
                background-color:rgb(0, 5, 14); 
                color: #ffffff;
                font-size: 17px;
                font-weight: 700;
                position: relative;
                left: 23px;
                top: 15px;
            }
           

            /*******************내 정보 리스트 조회 및 수정***************/
            /*내정보 조회 및 수정 부분 테두리 및 이미지 스타일 조정*/
            .infolist_box {
                border: 2px solid #dddddd;
                border-radius: 10px;
                box-shadow: 5px 5px 17px rgba(0, 0, 0, 0.2);
                width: 1000px;
                height: 630px;
                position: relative;
                left: 210px;
                top: 65px;
            }
            .infolist_box img {
                width: 10%;
                height: auto;
                position: relative;
                left: 45%;
                top: 15%;
            }

            /*내정보 아이디~주소 입력창 입력 및 수정 부분 조정*/
            .user_info {
                text-align: center;
                position: relative;
                right: 3%;
                margin-top: 13%;
            }

            /*내정보 리스트 라벨 크기 및 정렬 부분*/
            .user_infolist label {
                font-size: 14px;
                font-weight: 700;
                text-align: right;
                color: #1b1b1b;
                display: inline-block;
                width: 93px;
                height: 40px;
            }
            /*내정보 리스트 input 입력칸 조절 부분*/
            .user_infolist input {
                width: 250px;
                height: 28px;
                margin-top: 5px;
                border-color: #d6d6d6;
                border-radius: 2px;
                border-width: 1px;
            }
            /*내 정보 리스트 placeholder 입력 전 안내문자 크기 조절*/
            .user_infolist ::placeholder {
                font-size: 11px;
            }

            /*내정보 리스트 수정하기, 회원탈퇴 버튼 조정*/
            .user_infolist button {
                width: 59px;
                height: 22px;
                border-radius: 3px;
                border-width: 1px;
                background-color:rgb(124, 124, 124); 
                color: #ffffff;
                font-size: 11px;
                font-weight: 600;
                position: relative;
                left: 108px;
            }
/*-----------------------여기까지가 내정보 아이디 체크 후 조회 및 수정 부분----------------------------------------------*/



            /*찜한 매물 굵은 글씨 스타일 / 중앙 컨텐츠*/
            .LikeList {
                position: relative;
                top: 42px;
                font-size: 25px;
            }
            /*찜한매물 탭에 매물유형 카테고리 스타일 / 중앙 컨텐츠*/
            .type_box {
                position: relative;
                left: 66px;
                top: 37px;
                font-size: 15px;
                font-weight: bold;
                margin-bottom: 10px;
            }
            /*찜한 매물 중앙 컨텐츠에 있는 가로 띠 아래 부분*/
            .width_lineline {
                width: 98%;
                position: relative;
                right: 34px;
                top: 13px;
            }
            /*likelist.html 찜한매물 매물유형 리스트 위치 조정*/
            .type {
                list-style-type: none;
                display: flex;
                flex-direction: row;
            }
            /*매물유형 타입 사이 간격 조정*/
            .type li {
                margin-right: 50px;
            }

            /*찜한 매물 정보 부분 구간 설정 및 위치 조정 / 중앙 컨텐츠*/
            .likerealestate {
                list-style-type: none;
                display: flex;
                flex-direction: row;
                position: relative;
                top: 100px;
            }
            /*찜한 매물끼리 사이 간격 조정*/
            .likerealestate li {
                position: relative;
                left: 100px;
                margin-right: 300px;
            }

            /*찜한 매물이 없을 때 '찜한매물이 없습니다.' 부분 이미지 및 스타일 조정*/
            .nolikerealestate_list img {
                position: relative;
                top: 150px;
                left: 518px;
                width: 12%;
                height: auto;
            }
            .nolikerealestate_list p {
                font-size: 25px;
                font-weight: bold;
                color: #516786;
                position: relative;
                top: 200px;
                left: 500px;
            }
/*-----------여기까지가 찜한 매물 있을 때와 없을 때 중앙 컨텐츠 ---------------------------------------------*/
            
            .delete {
                position: relative;
                top: 42px;
                font-size: 25px;
                margin-left: 55px
            }

             /*회원탈퇴 탭 테두리 및 이미지 스타일 조정*/
             .dleletUser_box {
                border: 2px solid #dddddd;
                border-radius: 10px;
                box-shadow: 5px 5px 17px rgba(0, 0, 0, 0.2);
                width: 1000px;
                height: 630px;
                position: relative;
                left: 210px;
                top: 65px;
            }
            .dleletUser_box img {
                width: 10%;
                height: auto;
                position: relative;
                left: 45%;
                top: 24%;
            }

             /*회원탈퇴 입력창 입력 및 수정 부분 조정*/
            #deleteUserCheck {
                text-align: center;
                position: relative;
                right: 3%;
                margin-top: 17%;
            }

            /*회원탈퇴 라벨 크기 및 정렬 부분*/
            #deleteUserInfo label {
                font-size: 14px;
                font-weight: 600;
                text-align: right;
                color: #1b1b1b;
                display: inline-block;
                width: 65px;
            }
            /*회원탈퇴 input 입력칸 조절 부분*/
            #deleteUserInfo input {
                width: 250px;
                height: 28px;
                margin-top: 5px;
                border-color: #d6d6d6;
                border-radius: 2px;
                border-width: 1px;
            }
            /*회원탈퇴 placeholder 입력 전 안내문자 크기 조절*/
            #deleteUserInfo ::placeholder {
                font-size: 11px;
            }

            /*회원탈퇴 버튼 조정*/
            #deleteButton {
                width: 110px;
                height: 38px;
                border-radius: 3px;
                border-width: 1px;
                background-color:rgb(0, 5, 14); 
                color: #ffffff;
                font-size: 17px;
                font-weight: 700;
                position: relative;
                left: 23px;
                top: 15px;
            }

            .deleteUser_success img {
                position: relative;
                top: 250px;
                left: 848px;
                width: 12%;
                height: auto;
            }
            .deleteUser_success p {
                text-align: center;
                font-size: 25px;
                font-weight: bold;
                color: #516786;
                position: relative;
                top: 300px;
                }


/*-----------여기까지가 회원탈퇴 부분 ---------------------------------------------*/


            /*a태그 색상 및 밑줄 없앰*/
            a {
                text-decoration: none;
                color: inherit;
            }






            